.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
.input-container input {
    min-width: 70%;
    height: 40px;
    padding: auto 10px!important;
    border: none;
    border-radius: 10px;
    outline: none;
}
.input-container input:hover, .input-container input:focus{
    background-color: #eadef5;
}
.input-container button {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: #595dff;
    color: #fff;
    font-size: 16px;
}
