.header {
    background-color: #d9d2f6;
    padding: 20px;
    text-align: center;
    p {
        margin: 20px;
    }
}

.highlight-number {
    padding: 15px 8px;
    color: #1ade9d;
    border: 1px dashed #fff;
    border-radius: 100%;
}