* {
  font-family: "Montserrat", sans-serif;
}

.btn {
  background-color: #61dbfb;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 3;
  cursor: pointer;
  font-size: 14;
  color: white;
}

.header-wrapper {
  padding: 20px 200px;
  background-color: #5fdbfb;
}

.main-wrapper {
  padding: 50px 200px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-box {
  width: 80%;
  padding: 20px;
  margin: 50px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.countrybox-title {
  text-align: center;
}
.countrybox-title p {
  text-transform: uppercase;
  font-weight: bold;
}
.countrybox-title img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.footer-wrapper {
  padding: 20px 0;
  text-align: center;
  background-color: #66cbff;
}
