@import '../colors/colors.scss';

.form-edit-container {
    display: flex;
    flex-direction: column;
    .inp-wrapper {
        & textarea {
            margin-bottom: 10px;
            padding: 10px;
            background-color: $color2;
            border: none;
            outline: none;
            border-radius: 5px;
            &:hover, &:focus {
                box-shadow: 1px 1px 3px 2px #92d0f0;;
            }
        }
    }
    .btn-wrapper {
        display: flex;
        flex-direction: column;
        & button {
            margin: 5px auto 5px 0;
            padding: 10px;
            background-color: $color1;
            border: none;
            border-radius: 5px;
            color: $white;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
