@import '../colors/colors.scss';

.post-container {
    border: 1px solid $color3;
    padding: 0 5px;
    .user-container {
        margin: 5px 0;
        & input {
        }
        .name {
            font-weight: 600;
            margin: 0 5px;
            font-family: 'Roboto Slab', serif;
        }
        .username {
            color: $color4;
        }
    }
    .content {
        font-weight: 300;
    }
    .detail {
        display: flex;
        justify-content: space-between;
        .option {
            margin-top: 10px;
            .icon {
                margin: 0 5px;
            }
        }
        .time {
            font-size: 13px;
            font-weight: 400;
        }
    }
}